html, body {
    align-items: center;
    background: linear-gradient(310deg, #ccffcc, #ffbf80, #80aaff);
    height: 98.8%;
}
img {
    -webkit-user-drag: none;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.piano {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.white_keys  {
    display:flex;
    justify-content: flex-start;
    width: 80%;
    border: 10px solid rgba(204, 102, 153, 0.5);
}
.white_key {
    width: 100%;
    transition: transform 0.3s ease;
    
}
.black_keys {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 1vh;
}
.img_container {
    display: flex;
}

.black_key {    
    width: 1.93vw;
    transition: transform 0.3s ease;
}
.selected_key {
    transform: scale(0.97);
}
.staff {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px, solid, black;
    height: 400px;
    width: 50%;
}
.staff_text {
    position: absolute;
    top: 37vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

