html, body {
    align-items: center;
    background: linear-gradient(310deg, #ccffcc, #ffbf80, #80aaff);
    height: 98.8%;
}
img {
    -webkit-user-drag: none;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.piano {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.white_keys  {
    display:flex;
    justify-content: flex-start;
    width: 80%;
    border: 10px solid rgba(204, 102, 153, 0.5);
}
.white_key {
    width: 100%;
    transition: transform 0.3s ease;
    
}
.black_keys {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 1vh;
    left: 4.3vh;
}
.img_container {
    display: flex;
}

.black_key {    
    width: 1.93vw;
    transition: transform 0.3s ease;
}
.selected_key {
    transform: scale(0.97);
}
.staff {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_wrapper {
    border: 1px, solid black;
    display: flex;
    flex: 0.5;
}
canvas {
    flex: 1;
    height: 400px;
    width: 50%;
}
.staff_text {
    position: absolute;
    top: 32vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
}
.flat {
    width: 2.5%;
    position: absolute;
    z-index: 0;
}
.keybinds {
    display: flex;
    position: absolute;
    margin-right: 0vw;

}
#black_keybinds {
    margin-left: 15.4vw;
}
#white_keybinds {
    margin-left: 16.5vw;
}
.keybind {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: 500;
    margin-top: -10vh;
    pointer-events: none;

}

